@charset "UTF-8";
html,body{ height: 100%; }
body{ font-family: 'Noto Sans KR', sans-serif; color: #666666; }
ol,ul,li{ list-style: none; }
ol,ul,li{ margin: 0; padding: 0; }
a{ color: #666666; }
h1,h2,h3,h4,h5,h6{ line-height: 1; }

/*너비 최소값 지정*/
#mainbanner,#container section,#footer{
  min-width: 1320px;
}
#wrap{
  width: 1320px;
  margin: 0 auto;
  /* background: #f1f1f1; */
}
/* 상단 고정형 메인메뉴 */
#header{
  position: fixed;
  width: 1320px;
  /* margin: 0 auto; */
  top: 0;
  overflow: hidden;
  padding: 45px 20px 0 ;
  box-sizing: border-box;
}
/* @media screen and ( max-width: 1320px ) {
  #header{
    width: 100%;
  }
} */
#header .inner{
  float: right;
  overflow: hidden;
}
#header .inner #login_menu, #header .inner #gnb{ float: left; }
#logo{
  float:left;
}
/*gnb login menu 공통영역*/
#header .inner ul > li{
  height: 24px;
  float: left;
}
#header .inner ul > li a{
  line-height: 24px
}
#gnb{
    overflow: hidden;
    margin-right: 106px;
  }
#gnb li{
    float: left;
    margin-left: 50px;
  }
#gnb li:first-child{
      margin-left: 0px;
    }
/* login 메뉴 영역 */
#login_menu{
  overflow: hidden;
      }
#login_menu li{
    float: left;
    margin-left: 32px;
  }
#login_menu li:first-child{
  margin-left: 0px;
}
#login_menu li span.count{
  position: relative;
  display: inline-block;
  width: 20px;
  height: 19px;
  line-height: 18px;   /*padding-bottom: 1px준거만큼 -1뺴준값*/
  border-radius: 10px;
  background-color: #009ac0;
  color: white;
  text-align: center;
  margin-left: 6px;
  padding-bottom: 1px;
}
/* 메인배너 영역 */
#mainbanner{
  min-width: 1320px;
  background-image: url('../img/main_banner_bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#mainbanner .inner{
  position: relative;
  width: 1320px;
  height: 100vh; /*디바이스의 높이 변형에 따라 맞추겠다 변동성에 대응하겠다라는 의도*/
  margin: 0 auto;
}
#mainbanner .inner .main_text{
  position: absolute;
  text-align: center;
  width: 100%;
  min-height: 254px;   /*이크기만큼 더 안줄어들게*/
  top: 40%;
  transform: translateY(-50%);
}
/* 메인배너 메인타이틀 */
#mainbanner .maintitle{
  font-size: 50px;
  line-height:60px;
  font-weight: 300;
  color: #333;
}
/* 메인배너 서브타이틀 */
#mainbanner .subtitle{
  margin-top: 30px;
  font-size: 20px;
  color: #666;
}
.common_btn{
  display: inline-block;
  width: 180px;
  height: 60px;
  line-height: 60px;
  margin-top: 40px;
  border-radius: 0 10px;
  border: 1px solid #004d79;
  box-sizing: border-box;
  background: #004d79;
  font-weight: bold;  /*700*/
  color: white;
}
.common_btn:hover{
  background: white;
  color: #004d79;
}
/* 버튼 다른버전 */

/* section 영역 */
#container section{
  min-width: 1320px;
}
#container section .inner{
  width: 1320px;
  min-height: 650px;
  margin: 0 auto;
  text-align: center;
}

#container section .inner h2{
  font-size: 45px;
  line-height: 52px;
  font-weight: 600;
  color: #333333;
}

#container section .inner .subtitle{
  margin-top: 27px;
  font-size: 20px;
  line-height: 30px;
  color: #666666;
}
#container section:nth-of-type(1) .inner{
  padding-top: 165px;
  min-height: 485px; /*650px-165px*/
}
#container section:nth-of-type(2) .inner{
  padding-top: 140px;
  min-height: 510px;
}
#container section:nth-child(even){
  background: #f9f9f9;
}
#container section .inner .box_wrap{
  overflow:
}
#container section .inner .box_wrap li{
  float: left;
  width: calc( 25% - 40px );
  padding: 0 20px;
}
#container section .inner .box_wrap li .items{
  border: 1px solid #004d79;
  border-radius: 0 10px;
  padding: 45px 0;
  min-height: 180px; /*45+45+최소높이180=270*/
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 13%);
}
#container section .inner .box_wrap li .items h3{
  font-size: 20px;
  line-height: 20px;
  color: #252525;
}
#container section .inner .box_wrap li .items p{
  /* font-size: 16px; 기본이 16px 안적어도 무방 */
  line-height: 24px;
  color: #666666;
  margin: 32px 0;
}
/*협력업체 영역*/
#container section .inner .thumb_img_wrap{
  text-align: center; /* 자식요소 ul을 가운데 정렬 */
}
#container section .inner .thumb_img_wrap ul{
  overflow: hidden;
  /* display: inline-block; /*자식요소 li 컨텐츠 크기만큼 너비가 지정된다.*/ */
}

#container section .inner .thumb_img_wrap ul:nth-child(1){
  margin-top: 75px;
}

#container section .inner .thumb_img_wrap ul:nth-child(2){
  margin-top: 80px;
}

#container section .inner .thumb_img_wrap ul li{
  display: inline-block;
  float: left;
  overflow: hidden;
  width: calc( 100% / 6 );
}
#container section .inner .thumb_img_wrap ul li img{
  /* width: 100%;*/ /*이미지가 초기값 220px 이상 또는 이하로 변경 시 li % 기준으로 변경된다. */
}
#container section .inner .thumb_img_wrap ul li span{
  display: inline-block;
  margin-top: 20px;
}
/*section 3번 style*/
#container section .inner .box{
  float: left;
  width: 50%;
  min-height: 650px;
  text-align: center;
}
#container section .inner .box.img{
  background-size: cover;
}
#container section:nth-child(3) .inner .box.img{
  background: url('../img/section_3/bg_img.png') no-repeat center center;
}
#container section:nth-child(4){
  background-color: #c6daed;
  background-image: url('../img/section_4/bg_img.png');
  background-repeat: no-repeat ;
  background-size: auto 100%;  /*컨텐츠가 늘어서 높이가 달라져도 영향받기 않게*/
  background-position: calc( 50% + 720px - 80px ) center;
}
#container section:nth-child(5){
  background: #1d314a url('../img/section_5/bg_img.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#container section:nth-child(5) .inner h2{
  color: white;
}
#container section:nth-child(5) .inner .box.img{
  /* background: url('../img/section_5/qt-bg.jpg') no-repeat center center; */
}
#container section .inner .box .text_box{
  display: inline-block;
  text-align: left;
  margin-top: 160px;
}
#container section:nth-child(5) .inner .box .text_box .subtitle{
  color: #ffffff54;
}
#container section .inner .box .text_box .common_btn{
  text-align: center;
}
#footer{
  min-width: 1320px;
  background: #eeeeee;
}
#footer .inner{
  position: relative;
  margin: 0 auto;
  width: 1320px;
  height: 200px;
  padding: 50px 20px; 0;
  box-sizing: border-box;  /*box-sizing 안넣으려면 좌우 패딩20 총40을 width에서 빼줘야함*/
  overflow: hidden;
}
#footer .inner .f_box{
  float: left;
}
#footer .inner .f_box:nth-of-type(2) {
  padding-left: 75px;
}
/*footer site menu*/
#footer .inner .f_box ul{
  overflow: hidden;
}
#footer .inner .f_box ul li{
  height: 20px;
  float: left;
  margin-right: 40px;
}
#footer .inner .f_box ul li:last-child{
  margin-right: 0px;
}
#footer .inner .f_box ul li a{
  line-height: 20px;
  color: #333333;
}
#footer .inner .f_box .tel{
  margin-top: 20px;
}
#footer .inner .f_box .tel a{
  font-size: 16px;
  font-weight: 700; /*bold*/
  color: #333333;
}
#footer .inner .f_box .copyright{
  font-size: 12px;
  line-height: 14px;
  color: #777777;
  margin-top: 23px;
  text-transform: uppercase;
}
#familysite{
  position: absolute;
  width: 190px;
  height: 30px;
  top: 40px;
  right: 20px;
  outline: none; /*화살표사라지게*/
  appearance: none;  /*화살표사라지게*/
  -ms-appearance: none;
  -o-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  padding-left: 15px;
  padding-right: 30px;/*화살표너머로 넘치지 않게*/
  border: 1px solid #d1d1d1;
  background-color: white;
  background-image: url('../img/select_b_box_arrow.png');
  background-repeat: no-repeat;
  background-position: calc( 100% - 15px ) center;/*오른쪽에서 15px떨어지게*/
  color: #333333;
}
#familysite:focus{
  border: 1px solid #999999;
  background-image: url('../img/select_b_box_arrow_focus.png');
}
